<!doctype html>
<html lang="zh-Hant-HK">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Unencoded characters</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <style>
        :root {
            --border-color: #ccc;
        }

        body {
            font-family: 'Noto Sans', sans-serif;
        }

        .char-image {
            width: 64px;
        }

        div.unenc-char.header {
            font-weight: bold;
        }

        div.unenc-char {
            margin-top: 16px;
            display: grid;
            grid-template-columns: 2fr 1.5fr 2fr 4fr 8fr;
            grid-gap: 0;

            border-top: 1px solid var(--border-color);
            border-left: 1px solid var(--border-color);
        }

        div.unenc-char div {
            display: grid;
            border-right: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            box-sizing: border-box;
            padding: 8px;
        }

        div.unenc-char div.evidences {
            padding: 0;
        }

        dl, dt, dd {
            padding: 0;
            margin: 0;
            font-weight: normal;
        }

        div.evidences dl {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 0;
        }

        div.evidences dl dt, div.evidences dl dd {
            display: grid;
            padding: 8px;
        }

        div.evidences dl dt {
            border-right: 1px solid var(--border-color);
        }

        div.evidences dl:not(:first-child) {
            border-top: 1px solid var(--border-color);
        }

        section {
            padding-top: 24px;
        }
    </style>
</head>
<body>

<main role="main" class="m-5">

    <h1>Unencoded Characters</h1>

    <p>These are the unencoded characters collected from various Cantonese dictionaries.</p>

    <section>
        <h2>Sources</h2>

        <ul>
            {% for id, source in sources %}
                <li>
                    <strong>{{ id }}</strong>: {{ source.title }}
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Character List</h2>

        <div class="card">
            {% for tag, chars in characters %}
                <div class="card-header">
                    <a data-bs-toggle="collapse" href="#table-{{ tag }}" role="button" aria-expanded="false"
                       class="btn-block"
                       aria-controls="table-{{ tag }}">{{ tag }} ({{ chars|length }})</a>
                </div>
                <div class="card-body collapse multi-collapse" id="table-{{ tag }}">
                    <div class="unenc-char header">
                        <div>Seq</div>
                        <div>IDS</div>
                        <div>Jyutping</div>
                        <div>Evidences</div>
                        <div>Remarks</div>
                    </div>
                    {% for char in chars %}
                        <div class="unenc-char">
                            <div>
                                {{ char.id }}
                            </div>
                            <div>
                                {{ char.ids ?? '' }}
                            </div>
                            <div>
                                {{ char.jyutping ?? '' }}
                            </div>
                            <div class="evidences">
                                {% for src in char.srcN %}
                                    <dl>
                                        <dt>
                                            <a href="{{ src.evidencePath }}" title="{{ sources[src.id].title }}"
                                               target="_blank">
                                                {{ src.id }},
                                                {{ src.locationText }}
                                            </a>
                                        </dt>
                                        <dd>
                                            <img class="char-image" src="data:image/png;base64,{{ src.imageData }}"/>
                                        </dd>
                                    </dl>
                                {% endfor %}
                            </div>
                            <div>
                                {{ char.remarksHTML|raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>



